$blue: #00BDD3;

.styled-checkbox {
    position: absolute;
    opacity: 0;
  
    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      font-size: 16px;
      font-weight: 400;
    line-height: 26px;
    }
  
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      border: 1px solid $blue;
    }
  
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }
  
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }
  
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 5px;
      background: $blue;
      border-radius: 20px;
      width: 12px;
      height: 12px;
    }
  }

  .radio-form{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      top: 60px;

      & p{
          margin-bottom: 14px;
      }

  }