$light-grey: #F8F8F8;

.floating-label-group {
	position: relative;
  display: flex;
  flex-direction: column;

	.floating-label {
		color: #7E7E7E;
		position: absolute;
		pointer-events: none;
    font-size: 16px;
		margin: 14px 0;
		left: 16px;
		transition: all 0.2s ease-in-out;
	}

	input:focus ~ .floating-label,
	input:not(:focus):valid ~ .floating-label {
    margin-top: -10px;
		font-size: 12px;
    background: linear-gradient(180deg, rgba(248,248,248,1) 47%, rgba(255,255,255,1) 52%);
    padding: 0 6px;
		color: #404040;
	}

  input{
    padding: 14px;
    border-radius: 4px;
    border: 1px solid #D0CFCF;
    width: 330px;
    font-size: 16px;
    min-width: 100px;
    outline: none;
  }

  span{
    position: absolute;
    bottom: -22px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    left: 14px;
    color: #7E7E7E;
  }
}

.custom-file{
  width: 330px;
  position: relative;
  height: 54px;
  display: flex;
  align-items: center;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid black;
  border-radius: 4px 0 0 4px;
  padding: 16px 16px;
  cursor: pointer;
  display: inline-block;
}
.file-preview {
  border: 1px solid #D0CFCF;
  height: 100%;
  width: 100%;
}