$yellow: #F4E041;

button{
    display: block;
    padding: 8px 24px;
    border-radius: 30px;
    font-size: 16px;
    border: transparent;
    transition: .2s ease-in-out;
    }

    #yellow{
      background-color: $yellow;
      color: black;
      cursor: pointer;
  
      &:hover{
        background: #FFE302;
      }
    
    &:disabled{
      color: rgba(black, $alpha: .8);
      background-color: #B4B4B4;
    }
  }