header{
    position: relative;
    top: 0;
    left: 0; right: 0;
    background-color: #fff;
    z-index: 999;
    padding: 14px 0;
}

.left, 
.right{
    grid-column: span 6;
}
.right{
    display: flex;
    justify-content: flex-end;
}

.buttons{
    display: flex;
    align-items: center;

    button:last-child{
        margin-left: 10px;
    }
}